*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
textarea {
  border: none;
  outline: none;
}
li {
  list-style: none;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --purple: #4831d4;
  --darkPurple: #3d155f;
  --appleGreen: #ccf381;
  --white: #fff;
  --whiteSmoke: #f5f4fc;
  --smoke: #f9f8fd;
  --textBlack: #474747;
  --textGray: #cbc9e2;
  --bgColor: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  /* :root {
  } */
}

body {
  min-height: 100vh;
  font-family: 'SF UI Text';
}

body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../fonts/SF-UI-Text-Heavy.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../fonts/SF-UI-Text-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../fonts/SF-UI-Text-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../../fonts/SF-UI-Text-Light.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}
